<section class="form-container">
    <img class="image" src="/images/{{rentedCar.dataValues.image}}" alt="Não há imagens do carro">
    <h4>{{rentedCar.dataValues.manufacturer}}</h4>
    <h1>{{rentedCar.dataValues.model}}</h1>
    <p>{{rentedCar.dataValues.description}}</p>
    <a href="/" class="link">Voltar</a>
</section>